#root {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.43);
    padding: 8px;
}

#debug-container {
    padding: 0;
    margin: 0;
}

Label {
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 0;      /* remove extra spacing around label */
    padding: 0;     /* optional */
}